
@{
    ViewData["Title"] = "LibroArquitectura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Libro de Arquitectura de software</h1>

<br />
<div>
    <div class="container">
        <h1 style="text-align: center; text-decoration: underline;" ">Arquitectura de software: Las partes dificiles</h1>
        <br />
        <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/92/1d/921d0ddc0329a892b9bd2822e7f2503c.jpg" alt="Arquitectura de Software" width="600" height="auto" style="display: block; margin: 0 auto;">
        <div class="description">
            <br />
            <p>
                
                En arquitectura de software no hay decisiones fáciles. Sí hay muchas partes difíciles, 
                problemas o cuestiones complicadas sin buenas prácticas, que nos obligan a elegir entre varias soluciones intermedias. 
                Con este libro, descubrirá cómo pensar críticamente sobre las ventajas y desventajas relacionadas con las arquitecturas distribuidas.
                Además de las explicaciones teóricas, el presente volumen contiene ejemplos prácticos y conoceremos a la Patrulla Sysops, un grupo imaginario de profesionales de la arquitectura 
                con los que estudiaremos la granularidad del servicio, cómo gestionar los flujos de trabajo, la administración y separación de contratos, las transacciones distribuidas y 
                hasta la optimización de características operativas, como la escalabilidad, la elasticidad y el rendimiento. 
                El propósito principal de este libro es proporcionar las herramientas para realizar análisis de ventajas y desventajas, para enfrentarnos a los
                problemas de arquitectura y tomar la mejor decisión en cada caso.
            </p>
        </div>
    </div>
</div>

